{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Gestion des Loyers {% endblock %}</title>
      <meta name="viewport" content="width=device-width,initial-scale=1.0" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
        
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="{% static 'css/sidebar/style.css' %}">

  <script src="{% static 'js/sidebar/jquery.min.js' %}"></script>
    <script src="{% static 'js/sidebar/popper.js' %}"></script>
    <script src="{% static 'js/sidebar/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sidebar/main.js' %}"></script>
</head>
    {% block Dashboard %}
    
        <div class="wrapper d-flex align-items-stretch " style="height: 100%;">
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary"></button>
              </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url({% static 'images/sidebar/bg_1.jpg' %});">
                <div class="user-logo">
                    <div class="img" style="background-image: url({% static 'images/sidebar/bg.jpg' %});">
            </div>
                    <h3>Gestion des Loyers</h3>
                </div>
            </div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="{% url 'home' %}"><span class="fa fa-tachometer mr-3"></span> Dashboard</a>
          </li>
          <li>
              <a href="{% url 'calendar' %}"><span class="fa fa-calendar mr-3 notif"></span> Calendar</a>
          </li>
          <li>
            <a href="{% url 'office' %}"><span class="fa fa-building mr-3"></span> Office</a>
          </li>
          <li>
            <a href="{% url 'tenant' %}"><span class="fa fa-users mr-3"></span> Tenant</a>
          </li>
          <li>
            <a href="{% url 'login' %} "><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>

        </nav>
        </div>
        <div id="content" class="">
            {% block content %}

            {% endblock content %}
            
        </div>
              
    {% endblock %}
</html>