{% extends 'loyer/base.html' %}

{% block title %} Dashboard {% endblock %}
{% load static %}
{% load humanize %}
{% block content %}

  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if listing %}
            {% for list in listing %}
                <div class="col-md-6 col-lg-4 mb-4">
                  <div class="card listing-preview">
                    <img class="img" src="{% static list.picture.url %}" alt="office room" height="290px" width="290px">
                    <div class="card-img-overlay">
                      <h2>
                        <span class="badge badge-secondary text-white">{{ list.rent_amount|intcomma }} Fbu</span>
                      </h2>
                    </div>
                    <div class="card-body">
                      <div class="list-heading text-center">
                        <h4 class="text-primary">{{ list.title }}</h4>
                        <hr>
                        <p>
                          <i class="fas fa-user text-secondary"></i> {{ list.immeuble }}
                        </p>
                      </div>
                      <hr>
                      <div class="row text-secondary pb-2">
                        <div class="col-6">
                          <i class="fas fa-clock"></i> {{ list.Houseownerjoinedthesite|timesince }} ago</div>
                      </div>
                      <!-- <hr> -->
                      <!-- <a href="{% url 'tenant_new' %}" class="btn btn-primary btn-block">More Info</a> -->
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <h4>No listsing available</h4>
            </div>
        {% endif %}
      </div>

{% if listing.has_other_pages %}
  <ul class="pagination">
    {% if listing.has_previous %}
      <li><a href="?page={{ listing.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in listing.paginator.page_range %}
      {% if listing.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if listing.has_next %}
      <li><a href="?page={{ listing.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


{% endblock content %}
