{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<title>Login page</title>
<style>
	body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 10px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: 85px;
}
</style>
<body>
    <div id="login">
        <h1 class="text-center text-white pt-8">Login form</h1>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12"><br><br><br><br><br>
                        <form id="login-form" class="form" action="" method="post">
                            <strong>
                                {% csrf_token %}
                                {{ login_form|crispy }}                                        
                            </strong>
                        <center>
                        <button class="btn btn-primary" type="submit">Login</button>
                        </center>
                            
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>